/* Inscription.css */

.titreContact {
  color: #333;
  text-align: center;
}

.phraseContact {
  color: #666;
  text-align: center;
}

.formulaire {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

.ajouter {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.ajouter:hover {
  background-color: #45a049;
}

.liste_contact {
  list-style-type: none;
  padding: 0;
}

.liste_contact li {
  margin: 10px 0;
}

h2 {
  color: #007bff;
}

h1 {
  margin-top: 20px;
  color: #007bff;
  cursor: pointer;
}

h1:hover {
  text-decoration: underline;
  color: #0056b3;
}
