.App {
  font-family: Arial, sans-serif;
  text-align: left;
  padding: 20px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the page takes the full viewport height */
  margin: 0; /* Remove default body margin */
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #f0f0f0;
}

.tab.active {
  background-color: #007bff;
  color: #fff;
}

.tab-content {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  margin: 0;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-content {
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
}

.close-button:hover {
  background-color: darkred;
}

.notconnected {
  text-align: center;
  margin: 20px;
}

/* Style for the paragraph */
.notconnected p {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
}

/* Style for the "Créer un compte" button */
.inscription-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 20px;
}

.inscription-button:hover {
  background-color: #0056b3;